[access]
	inheritFrom = All-Qt-Projects
[receive]
	requireContributorAgreement = true
	requireChangeId = true
[submit]
	action = cherry pick
	mergeContent = true
[project]
	description = git clone ssh://<USER>@codereview.qt-project.org:29418/qt/qtandroidextras.git
[cherryPick]
	includeReviewedOn = true
[cherryPick "categoryFooters"]
	Sanity-Review = true
[access "refs/heads/master"]
	exclusiveGroupPermissions = submit stage
[access "refs/for/refs/heads/master"]
	exclusiveGroupPermissions = push
